{% extends "base.html" %}

{% block title %}User Settings{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">User Settings</h1>
    <form method="post" action="{{ url_for('auth.user_settings') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <div class="form-group">
            <label for="username">New Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
        </div>
        <div class="form-group">
            <label for="current-password">Current Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="current-password" placeholder="Enter current password" name="current_password">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="toggle-current-password">
                        <i class="fas fa-eye" id="toggle-current-password-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="new-password">New Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="new-password" placeholder="Enter new password (optional)" name="new_password">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="toggle-new-password">
                        <i class="fas fa-eye" id="toggle-new-password-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{{ url_for('link.show_all') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/auth/toggle_password_settings.js') }}"></script>
{% endblock %}
